{% extends 'base.html' %} {% load static %} 
{% block title %}|Workpace{% endblock title %}{% block content %}

<section>
  <div class="container">
    <div class="all_product_container">     
   <div class="product_continer">
        <div class="add-button">
            <a href="{% url 'create_cross' %}"><button>Добавить товар (Новый код)</button></a>
        </div>
        

        <div class="products">
          {% for product in shop %}
          <div class="card">
            {% if product.image %} 
            <a href="{% url 'detail_shop' id=product.id %}">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </a>

            {% else %}
            <p>Нет изображения</p>
            {% endif %}
            

            <h3>{{ product.name }}</h3>
            <p>{{ product.articul }}</p>
            <div class="price">
              <p>{{ product.price }}</p>             
              
            </div>
            <div class="edit-delete">
                <a class = "edit" href="{% url 'update_cross' id=product.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                <form action="{% url 'delete_cross' id=product.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <button type="submit">
                    <i class="fa-solid fa-trash"></i>
                </button>
                 </form>               
            </div>
          </div>
          {% empty %}
          <h3>No products...</h3>
          {% endfor %} 


          
        </div>
        
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container"><div class="pagination">
        {% if shop.has_previous or shop.has_next %}
          <div class="pagination">
            {% if shop.has_previous %}
            <a href="?offset={{ shop.previous_page_number }}"> <img src="{% static './assets/svg/pagin_left.svg' %}" alt=""> </a>
            {% endif %} {% for i in shop.paginator.page_range %} 
            {% if shop.number == i %}
            <span>{{ i }}</span>
            {% else %}
            <a href="?offset={{ i }}">{{ i }}</a>
            {% endif %} 
            {% endfor %} 
            {% if shop.has_next %}
            <a href="?offset={{ shop.next_page_number }}"> <img src="{% static './assets/svg/pagin_right.svg' %}" alt=""> </a>
            {% endif %}
          </div>
          {% endif %}
    </div></div>
</section>



{% endblock content %} 
